*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Segoe UI',sans-serif;

    background:var(--background);

    color:var(--color-letra);

    overflow-x:hidden;

    position:relative;

    min-height:100vh;

}